@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.DefaultContainer {
	background-color: #fff;
	line-height: 1.4;
	font-family: 'Pretendard';
}

.darkmode {
	background-color: #1f1f1f;
	color: #fafafa;
}

@media screen and (min-width: 768px) {
	.innerContainer {
		padding: 50px;
	}
}

@media screen and (max-width: 767px) {
	.innerContainer {
		padding: 15px;
	}
}
