@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.DefaultContainer {
	background-color: #fff;
	line-height: 1.4;
	padding: 50px;
	font-family: "Pretendard"
}
